body {
    font-family: courier, serif;
}

#canvas {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

#board {
    width: 800px;
    height: 2400px;
    float: left;
}   

#score {
    width: 800px;
    height: auto;
    margin: 50px;
    float: left;
}

#footer-block {
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}

#footer {
    margin: 5px;
}

#right-aligned-footer-buttons {
    float: right;
}

#save-data-field {
    width: 6ch;
}

input[type=radio] {
    display: block;
    margin: 0 auto;
}
label {
    display: inline-block;
}

input[type=button] {
    touch-action: manipulation;
}
